*{
box-sizing: border-box;
padding: 0px;
margin: 0px;
scroll-behavior: smooth;
}
.head{
display: flex;
justify-content: space-between;
align-items: center;
height: 60px;
padding: 30px;
background-color: rgb(40, 38, 38);

}
.input_section input{
margin-right: 100px;
background-color: rgb(179, 218, 119);
}
.input_section button{
margin-right: 17px;
}

.video{
  width: fit-content;
  height: 70vh;
}
.video div video{
  width: 100%;
  height: 100%;
}
.main{
font-style: italic;
  color: green;  
text-align: center;
}


.plant div{
margin: 15px;
background-color: rgb(180, 180, 232);
box-shadow: 10px 10px rgb(157, 155, 155);
text-align: center;
}

.plant div button,.part3 div button{
background-color: rgb(219, 101, 156);
}

.part2,.plant{
  display: flex;
  justify-content: center;
  align-items: center;
}

.part2 div{
  margin-left: 15px;
}

.part2 div img{
border-radius: 100px;

}

.part3{
display: flex;
justify-content: center;
text-align: center;
margin: 0px 20px;
}

.part3 div{
  margin-left: 15px;
background-color: rgb(106, 199, 190);
border-radius: 10px;
overflow: hidden;
border: 1px solid  red;
}

.part4{

display: flex;
justify-content: center;
background-color: black;
color: aliceblue;
padding: 50px 10%;

}

.part4 div{
  margin: 20px auto;
  text-align: center;
}

.copyright{
text-align: center;
background-color: black;
color: aliceblue;

}
.plant img:hover{
  transform: scale(0.9);
}
.part2 img:hover{
  transform: scale(0.9);
}

.part3 img:hover{
  transform: scale(0.9);
}

